@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Play', sans-serif;
}

/* Styling header */

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10% 10px 10%;
    background-color: midnightblue;
}


li, a, button {
    font-size: 1.7rem;
    color: skyblue;
    list-style: none;
    text-decoration: none;
    
}

.logo {
    cursor: pointer;
}

.links li {
    display: inline-block;
    padding: 0 20px;
}

.links li a {
    transition: all 0.3s ease 0s;
}

.links li a:hover {
    color: orange;
}

button {
    padding: 9px 25px;
    background-color: orange;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    color: black;
    transition: all 0.1s ease 0s;
}

button:hover {
border: 2px solid skyblue;
color: azure;
}

/* Styling main*/

main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 30px 10%;
    background-color: midnightblue;
}

h1, p {
    color: azure;
}

h1 {
    font-size: 2.3rem;
    transition: transform .2s, text-shadow .2s;;
}
h1:hover {
    transform: scale(1.2);
    text-shadow: 2px 2px orange;
}

p {
    max-width: 600px;
}

div, button {
    margin: 10px;
}

main > div > img {
    border: 3px solid skyblue;
    display: block;
    border-radius: 50px;
    transition: transform .2s;
}

main > div > img:hover {
    transform: scale(1.01);

}


/* div.header {
    background-color: blue;
    width: 100%;
    height: auto;
}
div.logo img {
    display: inline-flex;
    width: 70px;
    max-width: 70px;
    height: auto;
    margin: 20px 40px;
}


ul {
    display: flex;
    gap: 16px;
    list-style: none;
}
a {
    display: inline;
    color: skyblue;
    text-decoration: none;
    
} */
