@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Play', sans-serif
}


/* Styling header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;

}


li, a, button {
    font-size: 1.125rem;
    color: skyblue;
    list-style: none;
    text-decoration: none;
}

.logo {
    cursor: pointer;
}

.links li {
    display: inline-block;
    padding: 0 20px;

}

/* div.header {
    background-color: blue;
    width: 100%;
    height: auto;
}
div.logo img {
    display: inline-flex;
    width: 70px;
    max-width: 70px;
    height: auto;
    margin: 20px 40px;
}


ul {
    display: flex;
    gap: 16px;
    list-style: none;
}
a {
    display: inline;
    color: skyblue;
    text-decoration: none;
    
} */
